body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#main-screen {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
}

#connect-control {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#console-display {
  border: 1px solid #ddd;
  padding: 10px;
	width: 50vw;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#console-output {
  margin-bottom: 20px;
	height: 300px;
	overflow-y: auto;
	flex-grow: 1;
}

#console-input {
  display: flex;
	flex-direction: row;
  align-items: center;
	width: 100%;
}

#console-input-text {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #ddd;
	height: 2rem;
}

#console-input-send {
  padding: 5px 10px;
	height: 2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

